<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.app.imusic.dialog"
      version="0.1.0">
    <name>TextInputDialog</name>
    <description>PhoneGap text input dialog plugin for Android</description>
    <license>MIT</license>
    <keywords>phonegap,android,text,dialog</keywords>
 
 
    <js-module src="www/text.js" name="TextInputDialog">
        <clobbers target="window.textInputDialog" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="TextInputDialog">
                <param name="android-package" value="com.app.imusic.dialog.TextInputDialog"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/TextInputDialog.java" target-dir="src/com/app/imusic/dialog" />      
     </platform>          
</plugin>